.flex_container{
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
}

/* menu */
.flex_container nav{
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  display: flex;
}
nav input{  /*input search  */
  display: inline-flex;
}
