*{
  box-sizing: border-box;
}
body{
  background-image:  url('img/color.png');
  background-repeat: no-repeat;
  background-size:cover;
}

/* article */
.flex_container article{
  min-height: 34%;
  width: 26.5%;
  margin-left: 8.7%;
  margin-top: 10%;
  color: #656565;
}
article h1, article h2{
  font-family: 'Poppins', sans-serif;
}
article h1{
  font-weight: 800;
  font-size: 35.6px;
  line-height: 120%;
  padding-top:17.2px;
}
article h2{
  font-weight: 400;
  margin-top:-29px;
  letter-spacing:1.4px;
  font-size: 21px;
}
article p{
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size: 11px;
  margin-top:-7.5px;
  line-height:1.272;
}

/* section */
.flex_container section{
  min-height: 627px;
  width: 85%;
  margin:8.5% 6.8% 8.49% 8.3%;
  /* margin:106px 85px 105px 8.3%; */
  background: url('img/sfondo.png');
  background-repeat: no-repeat;
  background-size:auto 627.9px;
  background-position: right;
  background-color: white;
}
nav{
  width: 100%;
  height: 15%;
  margin-top:44px;
  font-family: 'Open Sans', serif;
  font-weight: 300;
}
/*padding-left: 0px; min media queries
margin-left: -25px;*/
nav ul{
  list-style-type: none;
  color:#656565;
  margin-left: 39px;
}
nav li{
  padding:0 0 4px 0;
  margin:1px 30px -4px 6px;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0);
  font-size:14.5px;
  letter-spacing:1.2px;
}
li:hover{
  margin-right: 28.59px;
  border-bottom: 1px solid #656565;
  font-weight: 500;
  cursor: pointer;
}

nav input{
  margin:3px 86px 0 0;
  padding: 5px 48px 8.4px 20.1px;
  border-radius:20px;
  border:none;
  outline: none;
  background-color:rgba(255, 255, 255, 0.3);
  color:#fff;
  font-size:14.5px;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  letter-spacing:1.2px;
}
::placeholder{
  color: white;
}
aside{
  height: auto;
}
aside >button{
  margin:-2px 0 0 8.6%;;
  padding: 3.5px 9px 3.5px 10px;
  background-image: linear-gradient(to right,#a21e8b,#fe3b4b,#ff7111);
  color: white;
  border:none;
  border-radius:10px;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size:17px;
  letter-spacing:1.6px;
}
aside >button:hover{
  background-image: linear-gradient(to left,#a21e8b,#fe3b4b,#ff7111);
  cursor: pointer;
}
button >a{
  text-decoration: none;
  color:#fff;
}
li > a{
  text-decoration: none;
  color: #656565;
}
.div_btn{
  display: block;
  display: none;
  height:0;
  width: 0;
}
.x{
  display: none;
}

.form_dati{

}
.form_dati >fieldset{
  color: red;
  border: none;
  max-height: 200px;
  /* background-image: linear-gradient(to right, rgb(252, 162, 74), rgba(255, 255, 255, 1)); */
}
.form_dati input{
  padding: 10px;
  margin: 7px 5px 7px 5px;
  width: 90%;
  border:none;
  background-color:rgba(55, 55, 55, 0.3);
  border-radius: 3px;
  color: #333;
  outline: none;
}
@import url("icoons.css");

[type="date"]::-webkit-inner-spin-button {/*elimina le freccine*/
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  z-index: 1;
  opacity:0;
  font-size: 15px;
}
.form_dati p{
  font-size: 13px;
  margin: 0;
  margin-top: 4px;
}
.form_dati ::placeholder{
  color: #333;
}

@media only screen and (max-width:576px) {
  nav ul{
    list-style-type: none;
    color:#656565;
    margin-left: 39px;
  }
  #margin{
    margin-left:0;
  }
  #src_div{   /*search*/
    width: 70%;
    float: right;
  }
  #src_input{
    width: 100%;
    background-color:rgba(55, 55, 55, 0.4);
    float: right;
    margin:45px 20px 0 0px;
  }
  span{
    color: black;
  }

 .flex_container article{      /*article */
    min-height: 20%;
    width: auto;
    margin-right: 2%;
    margin-top: 10%;
    color: black;
  }

  .form_dati input{   /*input article */
    background-color:rgba(55, 55, 55, 0.7);
    color: black;
  }
  .form_dati ::placeholder{
    color: black;
  }
  aside >button{
    margin:9px auto 0 22%;
    padding: 3.5px 20% 3.5px 20%;
  }
  aside #btn_width{
    margin:15px 0 0 8.6%;;
    padding: 3.5px 9px 3.5px 10px;
  }

  .flex_container section{    /* resize background*/
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1)) ,url('img/sfondo.png');
    background-repeat: no-repeat;
    background-size:auto 627.9px;
    background-position: right;
    width: 100%;
    margin:0px 0px 0px 0px;
  }
  .div_btn{   /*div con il bottone */
    width: 15%;
    z-index: 1;
    font-size: 30px;
    cursor: pointer;
    color: #656565;
    display: flex;
    float: left;
    padding-left: 10%;
  }
  .sbar_div{    /*sposta il menu a lista nel menu laterale*/
    z-index: 1;
    height: 100%;
    width: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.98);
    top: 0;
    left: 0;
    transition: 0.5s;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 5px;
  }
  ul{
    display: flex;
    flex-direction: column;
  }
  ul> li{   /*elementi menu sidebar*/
    z-index: 1;
    padding: 10px 10px 10px 15px;
    margin: none;
    font-size: 25px;
    display: block;
    border-bottom: none;
    border-left: 3px solid rgba(0,0,0,0);
    margin-left: 0;
    z-index: 1;
  }
  ul >li:hover{
    padding: none;
    margin: none;
    z-index: 1;
    border-bottom: none;
    border-left: 3px solid #fff;
    font-weight: 300;
    color:red;
  }
  ul >.x{     /*close_button*/
    margin: 0 20px 0 160px;
    padding:0;
    font-size: 25px;
    float: left;
    display: inline;
    color: red;
    text-decoration: none;
    border: none;
  }
  .x> a:hover, .x:hover{
    color: red;
    border: none;
  }
}
@media only screen and (max-width:768px) and (min-width:576px){
  nav ul{
    list-style-type: none;
    color:#656565;
    margin-left: 39px;
  }
  #margin{
    margin-left:0;
  }
  #src_div{   /*search*/
    width: 70%;
    float: right;
  }
  #src_input{
    width: 100%;
    background-color:rgba(55, 55, 55, 0.4);
    float: right;
    margin:45px 20px 0 0px;
  }
 .flex_container article{      /*article */
    min-height: 20%;
    width: auto;
    margin-right: 2%;
    margin-top: 10%;
    color: #656565;
  }

  .form_dati input{   /*input article */
    background-color:rgba(55, 55, 55, 0.7);
    color: black;
  }
  .form_dati ::placeholder{
    color: black;
  }



  aside >button{
    margin:9px auto 0 22%;
    padding: 3.5px 20% 3.5px 20%;
  }
  aside #btn_width{
    margin:15px 0 0 8.6%;;
    padding: 3.5px 9px 3.5px 10px;
  }

  .flex_container section{    /* resize background*/
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1)) ,url('img/sfondo.png');
    background-repeat: no-repeat;
    background-size:auto 627.9px;
    background-position: right;
  }
  .div_btn{   /*div con il bottone */
    width: 15%;
    z-index: 1;
    font-size: 30px;
    cursor: pointer;
    color: #656565;
    display: flex;
    float: left;
    margin-left: 10%;
  }
  .sbar_div{    /*sposta il menu a lista nel menu laterale*/
    z-index: 1;
    height: 100%;
    width: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.98);
    top: 0;
    left: 0;
    transition: 0.5s;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  ul{
    display: flex;
    flex-direction: column;
  }
  ul> li{   /*elementi menu sidebar*/
    z-index: 1;
    padding: 10px 10px 10px 15px;
    margin: none;
    font-size: 25px;
    display: block;
    border-bottom: none;
    border-left: 3px solid rgba(0,0,0,0);
  }
  ul >li:hover{
    padding: none;
    margin: none;
    z-index: 1;
    border-bottom: none;
    border-left: 3px solid #fff;
    font-weight: 300;
    color:red;
  }
  ul >.x{     /*close_button*/
    margin: 0 20px 0 160px;
    padding:0;
    font-size: 25px;
    float: left;
    display: inline;
    color: red;
    text-decoration: none;
    border: none;
  }
  .x> a:hover, .x:hover{
    color: red;
    border: none;
  }
}

@media only screen and (max-width:992px) and (min-width:767px){
  .flex_container section{    /* resize background*/
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.0)) ,url('img/sfondo.png');
    background-repeat: no-repeat;
    background-size:auto 627.9px;
    background-position: right;
  }
  #src_div{   /*search*/
    width: 100%;
    float: left;
    margin-right: 10%;
    margin-left: 10%;
  }
  #src_input{
    width: 100%;
    background-color:rgba(55, 55, 55, 0.3);
  }
